%h3
  = image_tag avatar_url(current_user, 50)
  Hello
  = @user.first_name + "!"
  Your email is
  =@user.email + "."
  = link_to 'Edit your info?', edit_user_path(@user)
%h4 Upcoming Events:
%div{:class => "event"}
  - if @events.present?
    - @events.each do |e|
      %p
        %h2
          = e.title
      %p
        %b Organizer(s):
        //fix this
        = link_to @user.full_name, @user
      %p
        %b Location:
        = e.location
      %p
        %b Start:
        = e.start
      %p
        %b End:
        = e.end
      %p
        %b Attendees:
        - e.users.each do |attendee|
          %p= link_to attendee.full_name, attendee
  - else
    %p
    None yet! Want to
    = link_to "make an event?", new_event_path
%hr/
%footer
  %p
  = link_to 'Home', root_path
