%h1 Profile and Events
%h2
Hello
= @user.first_name
%br
Your email is
=@user.email
/.
%h3 Upcoming events:
- if @event
  %p
    %b Title:
    = @event.title
  %p
    %b Organizer(s):
    = link_to @user.full_name, @user
  %p
    %b Location:
    = @event.location
  %p
    %b Start:
    = @event.start
  %p
    %b End:
    = @event.end
- else
  %p None yet!
%hr/
%footer
  %p
  = link_to 'Edit', edit_user_path(@user)
  |
  = link_to 'Back', users_path
