Hello
= @user.first_name + "!"
%br
Your email is
=@user.email + "."
%h2 Upcoming Events:
- if @events
  - @events.each do |e|
    %p
      %h3
        = e.title
    %p
      %b Organizer(s):
      //fix this
      = link_to @user.full_name, @user
    %p
      %b Location:
      = e.location
    %p
      %b Start:
      = e.start
    %p
      %b End:
      = e.end
- else
  %p None yet!
%hr/
%footer
  %p
  = link_to 'Edit', edit_user_path(@user)
  |
  = link_to 'Back', users_path
