= simple_form_for(@event) do |f|
  = devise_error_messages!

  .form-inputs
    = f.input :title
    = f.input :location
    = f.input :start, :as => :datetime_picker
    = f.input :end, :as => :datetime_picker
    //= f.input :user , :collection => User.all, as: :grouped_select, group_method: :first_name, prompt: 'Choose the attendees'
    //= f.association :users, label_method: :first_name, value_method: :id
    = f.label :users
    = select_tag "guests", options_from_collection_for_select(User.all, 'id', 'first_name', @event.users.map{ |j| j.id }), :multiple => true
    = f.submit "Let's play!"
