%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Organizer(s):
  = link_to @user.full_name, @user
%p
  %b Location:
  = @event.location
%p
  %b Start:
  = @event.start
%p
  %b End:
  = @event.end

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
