%p#notice= notice

%h4 Listing games
%div{:class => "event"}
  %table
    %thead
      %tr
        %th
        %th
      %tbody
      - @user.games.each do |game|
        %tr
          %td{:width => "80%"}
            %p= link_to game.name, game
          %td
          %td
            %p= link_to 'Edit |', edit_game_path(game)
          %td
            %p= link_to ' Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p= link_to 'New Game', new_game_path
